<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realestate"
    android:versionCode="7"
    android:versionName="1.1">

    <uses-sdk android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.RealEstateBroker">
        <activity
            android:name=".activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- File chooser lib activity -->
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_folder_open"
            android:label="@string/select_file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.realestate.activity.UserLoginActivity"
            android:label="@string/login" />
        <activity android:name="com.example.realestate.activity.HomeListActivity" />

        <!-- Setting singleTop prevents recreation of MainActivity when navigating up -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.UserSignupActivity"
            android:label="@string/signup" />

        <activity
            android:name=".activity.CustomerListActivity"/>

        <activity
            android:name=".activity.PhotoFullscreenSliderActivity"/>

        <activity
            android:name=".activity.AppointmentViewFragmentActivity"/>

        <activity
            android:name=".activity.HelpTopicDetailActivity"
            android:label="@string/about_help"
            android:parentActivityName=".activity.AboutHelpActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AboutHelpActivity" />
        </activity>

        <activity
            android:name=".activity.SettingsToolsActivity"
            android:label="@string/settings_tools"
            android:parentActivityName=".activity.HomeListActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeListActivity" />
        </activity>

        <activity
            android:name=".activity.CustomerImportFormActivity"
            android:label="@string/import_customers"
            android:parentActivityName=".activity.SettingsToolsActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsToolsActivity" />
        </activity>

        <activity
            android:name=".activity.AboutHelpActivity"
            android:label="@string/help"
            android:parentActivityName=".activity.HomeListActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeListActivity" />
        </activity>

        <activity
            android:name=".activity.CustomerFormFragmentActivity"
            android:label="@string/add_customer"
            android:parentActivityName=".activity.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.CustomerViewActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.PropertyViewFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.AreaUnitFormFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.AmenityFormFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.CurrencyUnitFormFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.LocalityFormFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.NearbyFacilityFormFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.PropertyStatusFormFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.PropertyTypeFormFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.PropertyFormActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.AppointmentFormFragmentActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <activity android:name=".activity.PickMapLocationActivity"></activity>

        <provider
            android:name=".provider.RealEstateBrokerContentProvider"
            android:authorities="com.ngocketit.realestatebroker.provider.contentprovider"
            android:exported="false"></provider>

        <receiver android:name=".receiver.AppointmentAlarmReceiver"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAePzJiSdbrLfYYQ0DXsTDiyqjVktZ6Q1o" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>